@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://css.gg/trash.css');

body {
    text-align: center;
}

.dropzone-div {
    text-align: center;

    outline:white  dashed;
    outline-offset: -5px;
    background: rgb(255,60,60);
    background: linear-gradient(90deg, rgba(255,60,60,1) 0%, rgba(255,222,0,1) 100%);
    
    width: 70%;
    height: 7em;
    margin: 6em  auto;
    padding:20px;

    border-radius: 20px;
    transition: 0.2s;
    animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

.dzone_message{
    padding-top: 0.6em;
    color:white;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

.files_list{
    max-width: 40%;
    background: linear-gradient(to right, red, yellow);
    padding: 3px;
    list-style: none;
    border-radius: 20px;
    margin: auto;
    transition: 0.2s;
}

.filesList_div{
    border-radius: 18px;
    padding: 1px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.2s;

}

.file_info{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.2s;
}

.li{
    display: flex;
    justify-content: left;
}

.trash_button{
    padding: 1em;
    transition: 0.2s;
}
/* Button */
.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
} 